<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ground Based Air Defence</title>

    <link
    rel="stylesheet"
    href="{% static './Leaflet/node_modules/leaflet/dist/leaflet.css' %}"
  />
  <script src="{% static './Leaflet/node_modules/leaflet/dist/leaflet.js' %}"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>
<!-- As a heading -->
<nav class="navbar navbar-light" style="background-color:#1a4f6d ;">
  <span class="navbar-brand mb-0 h1" style="color: white">TEWA</span>
  <span class="h4 mb-0 " style="color:darkseagreen ">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; GIS Simulator
    <br/>
    <span id="text" class="lead" style="color: azure; font-size: smaller;">Simulation Time Left: </span>  
    <span id="timer" class="lead"  style="color:coral;font-size: smaller;">Time</span> 
</span>
  <span class="navbar-text mb-0 h5" style="color: white">
    Air Defence
       
</span>
    

</nav>

<div  style="border-style: solid; border-color: coral;">
    <div id="map" style="float: left; width: 80%; height:710px;" >
          
        </div>
        <h3 style="float: left; margin-top: 20px; margin-left: 100px; background-color: white;color: #1a4f6d;">
            Results
        </h3 >
        <div id="dvTable" style="float: left; margin-left:0px; width: 20%;height:600px;background-color: white;color: #1a4f6d; table-layout: fixed;" class=" table table-hover">
   
    </div>
       </div>
<div id="footer" style="float: left;background-color: #1a4f6d;color: white;width: 100%;height:15px"></div>        
</body>

<script src="{% static './Leaflet/data/PAK_adm3.js' %}"></script>
<script type="text/javascript" src="{% static './Leaflet/data/MovingMarker.js' %}"></script>
<script src="{% static './Leaflet/data/leaflet.rotatedMarker.js' %}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<script>    
function getRandomArbitrary(min, max) {
    return Math.random() * (max - min) + min;
  }
// Set View 
var map = L.map("map").setView([28.8841915, 63.1860714], 8);
// -------------------- Icons-------------------------------
var greenIcon = new L.Icon({
    iconUrl: 'https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-green.png',
    shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
    iconSize: [25, 43],
    iconAnchor: [12, 41],
    popupAnchor: [1, -34],
    shadowSize: [-50, 50 ]
  });
defenceIcon= new L.icon({
    iconUrl: "{%static './Leaflet/badge.png'%}",
        iconSize: [25, 34]
    });
weaponIcon= new L.icon({
    iconUrl: "{%static './Leaflet/weapon.png'%}",
        iconSize: [40, 40]
    });
planeIcon= new L.icon({
        iconUrl: "{%static './Leaflet/plane.png' %}",
            iconSize: [25, 27]
        });
planegreenIcon= new L.icon({
        iconUrl: "{%static './Leaflet/planegreen.png' %}",
            iconSize: [25, 27]
        });
planeredIcon= new L.icon({
        iconUrl: "{%static './Leaflet/planered.png' %}",
            iconSize: [25, 27]
        });
planelightredIcon= new L.icon({
        iconUrl: "{%static './Leaflet/planelightred.png' %}",
            iconSize: [25, 27]
        });


// -----------------Open Street Map Layer---------------------------------
var osm = L.tileLayer(
"https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
{
    attribution:
    "&copy; <a href='https://openstreetmap.org/copyright'> Openstreet map</a> contributors",
}
);

var Dark_layer  =L.tileLayer('https://tiles.stadiamaps.com/tiles/alidade_smooth_dark/{z}/{x}/{y}{r}.png', {
	maxZoom: 20,
	attribution: '&copy; <a href="https://stadiamaps.com/">Stadia Maps</a>, &copy; <a href="https://openmaptiles.org/">OpenMapTiles</a> &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors'
});
var Watercolor = L.tileLayer('https://stamen-tiles-{s}.a.ssl.fastly.net/watercolor/{z}/{x}/{y}.{ext}', {
	attribution: 'Map tiles by <a href="http://stamen.com">Stamen Design</a>, <a href="http://creativecommons.org/licenses/by/3.0">CC BY 3.0</a> &mdash; Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
	subdomains: 'abcd',
	minZoom: 1,
	maxZoom: 16,
	ext: 'jpg'
});

var WorldStreetMap = L.tileLayer('https://server.arcgisonline.com/ArcGIS/rest/services/World_Street_Map/MapServer/tile/{z}/{y}/{x}', {
	attribution: 'Tiles &copy; Esri &mdash; Source: Esri, DeLorme, NAVTEQ, USGS, Intermap, iPC, NRCAN, Esri Japan, METI, Esri China (Hong Kong), Esri (Thailand), TomTom, 2012'
});

osm.addTo(map)
var baseLayers ={
    "Default":osm,
    "Dark layer":Dark_layer,
    "water color": Watercolor,
    "street map": WorldStreetMap
};

//----------------------------------Defended Assets-----------------------------------------
var weapon1=L.marker([28.969661, 63.421097],{
    draggable : true,
    title: "Weapon Placed",
    opacity:0.9,
    icon: weaponIcon

}).addTo(map).bindPopup("<p> Weapon 1 </p>");
var weapon2=L.marker([28.987539, 64.665677],{
    draggable : true,
    title: "Weapon Placed",
    opacity:0.9,
    icon: weaponIcon

}).addTo(map).bindPopup("<p> Weapon 2 </p>");
var weapon3=L.marker([29.359288, 64.372562],{
    draggable : true,
    title: "Weapon Placed",
    opacity:0.9,
    icon: weaponIcon

}).addTo(map).bindPopup("<p> Weapon 3 </p>");
var weapon4=L.marker([28.561573, 62.791874],{
    draggable : true,
    title: "Weapon Placed",
    opacity:0.9,
    icon: weaponIcon

}).addTo(map).bindPopup("<p> Weapon 4 </p>");
var weapon5=L.marker([29.385386, 61.593408],{
    draggable : true,
    title: "Weapon Placed",
    opacity:0.9,
    icon: weaponIcon

}).addTo(map).bindPopup("<p> Weapon 5 </p>");

var weaponsMarker = [weapon1,weapon2,weapon3,weapon4,weapon5]
var marker=L.marker([28.959660, 63.411098],{
    draggable : true,
    title: "This is Islamabad",
    opacity:1.0,
    icon: defenceIcon

}).addTo(map).bindPopup("<h3> Low Profile </h3> <p> Vitality 3 </p>");
var markerSargodha=L.marker([28.967538, 64.645676],{
        draggable : true,
        title: "Sargodha Air base",
        opacity:1.0,
        icon: defenceIcon
             
    }).addTo(map).bindPopup("<h3> Medium Profile </h3> <p> Vitality 4 </p>");
    var markerGHQ=L.marker([29.339287, 64.392563],{
        draggable : true,
        title: "GHQ Pindi",
        opacity:1.0,
        icon: defenceIcon
             
    }).addTo(map).bindPopup("<h3> High Profile </h3> <p> Vitality 7 </p>");;
    var markerPMA=L.marker([28.581572, 62.761875],{
        draggable : true,
        title: "Pakistan Military Academy Kakul",
        opacity:1.0,
        icon: defenceIcon
             
    }).addTo(map).bindPopup("<h3> Medium Profile </h3> <p> Vitality 5 </p>");
    var markerNavalBase=L.marker([29.365385, 61.573407],{
        draggable : true,
        title: "Naval Base Karachi",
        opacity:1.0,
        icon: defenceIcon
             
    }).addTo(map).bindPopup("<h3> Medium Profile </h3> <p> Vitality 6 </p>");;



/*
    var markerNavalBase=L.marker([24.8400,66.9742],{
        draggable : true,
        title: "Naval Base Karachi",
        opacity:1.0,
        icon: defenceIcon
             
    }).addTo(map);
    var markerChashma=L.marker([32.3874,71.4685],{
        draggable : true,
        title: "Chashma Nuclear Complex",
        opacity:1.0,
        icon: defenceIcon
             
    }).addTo(map);
  */  
//------------------------------------------Pakistan Administrative Boundaries----------------------------------------
    $.getJSON("{%url 'pakdata' %}", function(data){
        L.geoJSON(data,{
            onEachFeature: function(feature, layer){
                layer.bindPopup(`Province: ${feature.properties.name_1}, Division: ${feature.properties.name_2}, District: ${feature.properties.name_3}`);
            }
            ,
        
        style:{
            color: "green", 
            fillOpacity: 0,
            weight: 1.0,
        }
        }).addTo(map)
    })
    var customers = new Array();
        customers.push(["Threat Detail", "   In Range Of    ", "Selected"]);
        customers.push([1, "John Hammond", "United States"]);
        customers.push([2, "Mudassar Khan", "India"]);
        customers.push([3, "Suzanne Mathews", "France"]);
        customers.push([4, "Robert Schidner", "Russia"]);
 
        //Create a HTML Table element.
 
        //Get the count of columns.
        var columnCount = customers[0].length;
 
        //Add the header row.
       
      
 
        //Add the data rows.
     
    
//var myMovingMarker = L.Marker.movingMarker([[33.6844,73.0479],[30.6844,75.0479]],
  //  [20000],{icon:planeIcon,
    //    rotationAngle:125
    
    //}).addTo(map);
//...
//myMovingMarker.start();
/*
function getNextLatLong(l2,l1,angrad,distance,){
    var lon1=l1*(Math.PI/180);   
    var lat1=l2*(Math.PI/180);
   
    var lat=Math.asin(Math.sin(lat1)*Math.cos(distance/radius)+Math.cos(lat1)*Math.sin(distance/radius)*Math.cos(angrad));
    var lon=lon1+Math.atan2(Math.sin(angrad)*Math.sin(distance/radius)*Math.cos(lat1),
                      Math.cos(distance/radius)-Math.sin(lat1)*Math.sin(lat));
              //refreshing time
    var llon=lon * (180/Math.PI);
    var llat=lat * (180/Math.PI);
    return {
        llat:llat,
        llon:llon
    };
    
};
*/
/*
var delayInMilliseconds = 7000; //7 seconds
  var time=1;
  var consttime=7
  var l2=31.3260;  //lat
  var l1=75.7652; //lon
  var secondl2=32.6675;
  var secondl1=69.8597
  var radius= 6378.1;
  var angle=260;
  var secondangle=45;
  var markerInLoop= {};
  var secondmarkerInLoop={};

  (function myLoop(i) {
    setTimeout(function() {
      //var angle=Math.random(0,90);
      if(i%3==0){
      angle1=getRandomArbitrary(angle,360);
        angle2=getRandomArbitrary(0,angle);
        angle=angle1+angle2;
        angle=angle/2
        secondangle1=getRandomArbitrary(secondangle,360);
        secondangle2=getRandomArbitrary(0,secondangle);
        secondangle=secondangle1+secondangle2;
        secondangle=secondangle/2
        
    }
      var speed=getRandomArbitrary(350,450)

      var distance =speed/consttime;
      angrad= angle * (Math.PI/180);
      secondangrad= secondangle * (Math.PI/180);
         
      //var angrad=1.57; //angle in radian
        var newCords= getNextLatLong(l2,l1,angrad,distance);
        var secondnewCords=getNextLatLong(secondl2,secondl1,secondangrad,distance);
        time+=7;
      map.removeLayer(markerInLoop);
      markerInLoop=L.Marker.movingMarker([[l2,l1],[newCords.llat,newCords.llon]],
        [7000],{icon:planeIcon,
            rotationAngle:angle
        
        }).addTo(map);
    map.removeLayer(secondmarkerInLoop);
    secondmarkerInLoop=L.Marker.movingMarker([[secondl2,secondl1],[secondnewCords.llat,secondnewCords.llon]],
        [7000],{icon:planeIcon,
            rotationAngle:secondangle 
        }).addTo(map);
    
    //...
    markerInLoop.start();
    secondmarkerInLoop.start();
    l1=newCords.llon;             
    l2=newCords.llat;
    secondl1=secondnewCords.llon;
    secondl2=secondnewCords.llat;
        
    console.log("<b>longitude:</b>",l2);
      console.log("<br><br>");
      console.log("<b>latitude:</b>",l1);
      console.log("<br><br>");
      console.log("<b>angle:</b>",angle);
      console.log("<br><br>");
      console.log(i);
      if(i==1){
        map.removeLayer(markerInLoop);
        map.removeLayer(secondmarkerInLoop);
      }
      if (--i) myLoop(i);   //  decrement i and call myLoop again if i > 0
    }, delayInMilliseconds)
  })(11); 
*/
  
  //-----------------------------------------AJAX call-------------------------
  var table = document.createElement("TABLE");
   table.border = "1";
   var columnCount = 3;
   var row = table.insertRow(-1);
   

   for (var i = 0; i < columnCount; i++) {
            var headerCell = document.createElement("TH");
            headerCell.innerHTML = customers[0][i];
            
            row.appendChild(headerCell);
        }

        var dvTable = document.getElementById("dvTable");
        dvTable.innerHTML = "";
        dvTable.appendChild(table);
    
 
$.ajax({
    url: "{% url 'getSimulatorData' %}",
    type: "GET",
    success: function(data) {
        l1=data.Lat[0]; // latitude
        l2=data.Long[0]; // longitude
        var markerInLoop= {}; // moving marker
        var timeFrame=data.timeFrame
        newL1={}; 
        newL2={};
        newAngle={}
        newTi={}; 
        newspeed="";
        newCW="";
        newname="";
        newTS="";
        var data1;
        var newmarkerInLoop= {};
        var weaponInfo= {}
        var i=0
        var j=0
        var k=0
        var circle={}
        var windex=-1;
        var planeKilled = false
        var firstTime = true
        var planeKilled2= false
        var firstTime2=true
        var windex2=-1
        loopvalue=13
        for(let i=0; i<weaponsMarker.length;i++){
            var gmarker=weaponsMarker[i];
            var dummy,coords = gmarker.getLatLng();
            circle = L.circle([coords.lat,coords.lng], {
                    color: "",
                    fillColor: "#7FFF00",
                    fillOpacity: 0.3,
                    radius: parseInt(data.weaponsRange[i])*1000
            }).addTo(map);
        }
        for(let i = 0; i <loopvalue; i++) {
            setTimeout(() => {
                document.getElementById("timer").innerHTML= `${((loopvalue-j)-1)*7} seconds`
                
               
                
                if(j<data.Lat.length-1 && planeKilled==false){
                    console.log(data.Lat[j],data.Lat[j+1])
                    console.log(data.Long[j],data.Long[j+1])
                    console.log(data.angles[j])
                    console.log("Threat Index")
                    console.log(data.name)
                    console.log(data.threatIndex[j])
                    
                    if(data.threatIndex[j]>=0 && data.threatIndex[j]<=12){
                        map.removeLayer(markerInLoop);
                        markerInLoop=L.Marker.movingMarker([[data.Lat[j],data.Long[j]],[data.Lat[j+1],data.Long[j+1]]],
                            [7000],{icon:planegreenIcon,
                                rotationAngle:data.angles[j],

                            
                            }).addTo(map)
                        markerInLoop.bindPopup('Plane: '+data.name+'</br>'+'Carried Ammunition: '+ data.CarriedWeapon+'</br>'+'Terror Imparted: '+ data.threatScore+'</br>'+'Threat Speed: '+ data.speed + '</br>' +'Threat Index: ' + data.threatIndex[i].toFixed(2)+ '</br>' +'Threat Health: ' + data.threatHealth[j].toFixed(2));
                        markerInLoop.start();
                    }
                    
                    if(data.threatIndex[j]>12 && data.threatIndex[j]<=20.5){
                        map.removeLayer(markerInLoop);
                        markerInLoop=L.Marker.movingMarker([[data.Lat[j],data.Long[j]],[data.Lat[j+1],data.Long[j+1]]],
                            [7000],{icon:planelightredIcon,
                                rotationAngle:data.angles[j],

                            
                            }).addTo(map);
                        markerInLoop.bindPopup('Plane: '+data.name +'</br>'+'Carried Ammunition: '+ data.CarriedWeapon+'</br>'+'Terror Imparted: '+ data.threatScore +'</br>'+'Threat Speed: '+ data.speed+ '</br>' +'Threat Index: ' + data.threatIndex[i].toFixed(2));
                        
                        markerInLoop.start();
                    }
                    
                    if(data.threatIndex[j]>20.5){
                        map.removeLayer(markerInLoop);
                        markerInLoop=L.Marker.movingMarker([[data.Lat[j],data.Long[j]],[data.Lat[j+1],data.Long[j+1]]],
                            [7000],{icon:planeredIcon,
                                rotationAngle:data.angles[j],

                            
                            }).addTo(map);
                            markerInLoop.bindPopup('Plane: '+data.name +'</br>'+'Carried Ammunition: '+ data.CarriedWeapon+'</br>'+'Terror Imparted: '+ data.threatScore+'</br>'+'Threat Speed: '+ data.speed + '</br>' +'Threat Index: ' + data.threatIndex[i].toFixed(2));
                        
                        markerInLoop.start();
                    }
                    
                    if(timeFrame[j].length>0){
                        if(table.rows.length>=4){
                            table.deleteRow(1)
                        }
                        row = table.insertRow(-1);
                        for (var m = 0; m < columnCount; m++) {
                            if(m==0){
                                var cell = row.insertCell(-1);
                                if(data.threatHealth[j]<0){
                                    cell.innerHTML = `1- ${data.name} <br/> Health: 0.0`;
                                    cell.style="color:red;"
                                }
                                else{
                                    cell.innerHTML = `1- ${data.name} <br/> Health: ${data.threatHealth[j].toFixed(1)}`;
                                    
                                }
                            }

                            if(m==1){
                                var cell = row.insertCell(-1)
                                var insider =""
                                for(var o =0; o<timeFrame[j].length; o++){
                                    insider += `Weapon: ${timeFrame[j][o][1]+1} </br> Kill Probability: ${timeFrame[j][o][0].toFixed(4)} </br> `
                               
                                }
                                cell.innerHTML= insider 
                            }
                            if(m==2){
                                var cell = row.insertCell(-1)
                                cell.innerHTML= `${data.weaponsResult[j][2]+1}`
                            }
                        }
                   
                    }

                
        

                }
                 
                if(j<data.Lat.length-1 && data.threatHealth[j] > 0 && planeKilled==false){
                    if(data.weaponsResult[j][1]!= -1 ){
                        windex= parseInt(data.weaponsResult[j][2])
                        if(firstTime== false)
                            {map.removeLayer(circle);}
                        var mar= weaponsMarker[parseInt(data.weaponsResult[j][2])];
                        firstTime=false
                        var dummy,coords = mar.getLatLng()
                        console.log(coords.lat,coords.lng)
                        circle = L.circle([coords.lat,coords.lng], {
                        color: "",
                        fillColor: "#f01",
                        fillOpacity: 0.3,
                        radius: parseInt(data.weaponsRange[parseInt(data.weaponsResult[j][2])])*1000
                    }).addTo(map).bindPopup('Kill Probability: '+data.weaponsResult[j][1]).openPopup();
                    }
                    else if (windex!=-1){
                        map.removeLayer(circle);
                        mar= weaponsMarker[windex];
                        //
                        var dummy,coords = mar.getLatLng()
                        console.log(coords.lat,coords.lng)
                        circle = L.circle([coords.lat,coords.lng], {
                        color: "",
                        fillColor: "#7FFF00",
                        fillOpacity: 0.3,
                        radius: data.weaponsRange[windex]*1000
                        }).addTo(map);
                    }
                }
                else if (data.threatHealth[j] <= 0 && planeKilled==false ){
                    planeKilled = true
                    
                    alert(`Threat Neutralised`)
                    if(firstTime== false)
                            {map.removeLayer(circle);}
                            //map.removeLayer(circle);
                            map.removeLayer(markerInLoop);
                            markerInLoop=L.Marker.movingMarker([[data.Lat[j],data.Long[j]],[data.Lat[j+1],data.Long[j+1]]],
                            [7000],{icon:planegreenIcon,
                                rotationAngle:data.angles[j],
                                opacity: 0.3,
                            
                            }).addTo(map)
                        markerInLoop.bindPopup('Plane: '+data.name+'</br>'+'Carried Ammunition: '+ data.CarriedWeapon+'</br>'+'Terror Imparted: '+ data.threatScore+'</br>'+'Threat Speed: '+ data.speed + '</br>' +'Threat Index: ' + data.threatIndex[i].toFixed(2)).openPopup();
                        
                    windex = parseInt(data.weaponsResult[j][2])
                        mar= weaponsMarker[windex];
                        //
                        var dummy,coords = mar.getLatLng()
                        console.log(coords.lat,coords.lng)
                        circleFinal = L.circle([coords.lat,coords.lng], {
                        color: "",
                        fillColor: "#7FFF00",
                        fillOpacity: 0.1,
                        radius: data.weaponsRange[windex]*1000
                        }).addTo(map).bindPopup('Kill Probability: '+data.weaponsResult[j][1]).openPopup();
                       // map.removeLayer(markerInLoop);    
                        //return;
                }

                else if(j==data.Lat.length-1){ // If length of array containing Latitudes and Longitudes is going to end then remove makrer
                    map.removeLayer(markerInLoop);

                    map.removeLayer(circle);
                    mar= weaponsMarker[windex];
                        //
                    var dummy,coords = mar.getLatLng()
                    circle = L.circle([coords.lat,coords.lng], {
                        color: "",
                        fillColor: "#7FFF00",
                        fillOpacity: 0.3,
                        radius: data.weaponsRange[windex]*1000
                        }).addTo(map);
                }
                // If the second planes gets activated
                if(newL1.length>0 && planeKilled2 == false){
                    console.log(data1)
                    if(newTi[k]>=0 && newTi[k]<=12){
                        map.removeLayer(newmarkerInLoop);
                        newmarkerInLoop=L.Marker.movingMarker([[newL1[k],newL2[k]],[newL1[k+1],newL2[k+1]]],
                            [7000],{icon:planegreenIcon,
                                rotationAngle:newAngle[k],

                            
                            }).addTo(map);
                        newmarkerInLoop.bindPopup('Plane: '+newname +'</br>'+'Carried Ammunition: '+ newCW+'</br>'+'Terror Imparted: '+ newTS+'</br>'+'Threat Speed: '+ newspeed+ '</br>' +'Threat Index: ' + newTi[k].toFixed(2)+ '</br>' +'Threat Health: ' + data1.threatHealth[k].toFixed(2))
                        newmarkerInLoop.start();
                    }
                    
                    if(newTi[k]>12 && newTi[k]<=20.5){
                        map.removeLayer(newmarkerInLoop);
                        newmarkerInLoop=L.Marker.movingMarker([[newL1[k],newL2[k]],[newL1[k+1],newL2[k+1]]],
                            [7000],{icon:planelightredIcon,
                                rotationAngle:newAngle[k],

                            }).addTo(map);
                        newmarkerInLoop.bindPopup('Plane: '+newname +'</br>'+'Carried Ammunition: '+ newCW+'</br>'+'Terror Imparted: '+ newTS+'</br>'+'Threat Speed: '+ newspeed+ '</br>' +'Threat Index: ' + newTi[k].toFixed(2)).openPopup();
                        newmarkerInLoop.start();
                    }
                    if(newTi[k]>20.5 ){
                        map.removeLayer(newmarkerInLoop);
                        newmarkerInLoop=L.Marker.movingMarker([[newL1[k],newL2[k]],[newL1[k+1],newL2[k+1]]],
                            [7000],{icon:planeredIcon,
                                rotationAngle:newAngle[k],

                            }).addTo(map);
                        
                        newmarkerInLoop.bindPopup('Plane: '+newname +'</br>'+'Carried Ammunition: '+ newCW+'</br>'+'Terror Imparted: '+ newTS+'</br>'+'Threat Speed: '+ newspeed+ '</br>' +'Threat Index: ' + newTi[k].toFixed(2));       
                        newmarkerInLoop.start();
                    }
                    if(data1.timeFrame[k].length>0){
                        if(table.rows.length>=4){
                            table.deleteRow(1)
                        }
                        row = table.insertRow(-1);
                        for (var m = 0; m < columnCount; m++) {
                            if(m==0){
                                var cell = row.insertCell(-1);
                                if(data1.threatHealth[k]<0){
                                    cell.innerHTML = `2- ${data1.name} <br/> Health: 0.0`;
                                    cell.style="color:red;"
                                }
                                else{
                                    cell.innerHTML = `2- ${data1.name} <br/> Health: ${data1.threatHealth[k].toFixed(1)}`;
                                    
                                }

                            }
                            if(m==1){
                                var cell = row.insertCell(-1)
                                var insider =""
                                for(var o =0; o<data1.timeFrame[k].length; o++){
                                    insider += `Weapon: ${data1.timeFrame[k][o][1]+1} </br> Kill Probability: ${data1.timeFrame[k][o][0].toFixed(4)} </br> `
                               
                                }
                                cell.innerHTML= insider 
                            }
                            if(m==2){
                                var cell = row.insertCell(-1)
                                cell.innerHTML= `${data1.weaponsResult[k][2]+1}`
                            }
                        }
                   
                    }
                    if( data1.threatHealth[k] > 0 && planeKilled2==false){
                    if(data1.weaponsResult[k][1]!= -1 ){
                        windex2= parseInt(data1.weaponsResult[k][2])
                        if(firstTime2== false)
                            {map.removeLayer(circle);}
                        var mar= weaponsMarker[parseInt(data1.weaponsResult[k][2])];
                        firstTime2=false
                        var dummy,coords = mar.getLatLng()
                        console.log(coords.lat,coords.lng)
                        circle = L.circle([coords.lat,coords.lng], {
                        color: "",
                        fillColor: "#f01",
                        fillOpacity: 0.3,
                        radius: parseInt(data1.weaponsRange[parseInt(data1.weaponsResult[k][2])])*1000
                    }).addTo(map).bindPopup('Kill Probability: '+data1.weaponsResult[k][1]).openPopup();
                    }
                    else if (windex2!=-1){
                        map.removeLayer(circle);
                        mar= weaponsMarker[windex2];
                        //
                        var dummy,coords = mar.getLatLng()
                        console.log(coords.lat,coords.lng)
                        circle = L.circle([coords.lat,coords.lng], {
                        color: "",
                        fillColor: "#7FFF00",
                        fillOpacity: 0.3,
                        radius: data1.weaponsRange[windex2]*1000
                        }).addTo(map);
                    }
                }
                else if (data1.threatHealth[k] <= 0 && planeKilled2==false ){
                    planeKilled2 = true
                    
                    alert(`Threat Neutralised`)
                    if(firstTime2== false)
                            {map.removeLayer(circle);}
                            map.removeLayer(circle);
                            map.removeLayer(newmarkerInLoop);
                            newmarkerInLoop=L.Marker.movingMarker([[newL1[k],newL2[k]],[newL1[k+1],newL2[k+1]]],
                            [7000],{icon:planegreenIcon,
                                rotationAngle:data1.angles[k],
                                opacity:0.2,
                                
                            }).addTo(map)
                            newmarkerInLoop.bindPopup('Plane: '+newname +'</br>'+'Carried Ammunition: '+ newCW+'</br>'+'Terror Imparted: '+ newTS+'</br>'+'Threat Speed: '+ newspeed+ '</br>' +'Threat Index: ' + newTi[k].toFixed(2)+ '</br>' );       
                        
                    windex2 = parseInt(data1.weaponsResult[k][2])
                        mar= weaponsMarker[windex2];
                        //
                        var dummy,coords = mar.getLatLng()
                        console.log(coords.lat,coords.lng)
                        circleFinal = L.circle([coords.lat,coords.lng], {
                        color: "",
                        fillColor: "#7FFF00",
                        fillOpacity: 0.1,
                        radius: data1.weaponsRange[windex]*1000
                        }).addTo(map).bindPopup('Kill Probability: '+data1.weaponsResult[k][1]).openPopup();
                       // map.removeLayer(markerInLoop);    
                        //return;
                       // console.log("Kill Prob",)

                }
                    console.log("NewTi",newTi[k])
                    k+=1
                    if(k==newL1.length-1){
                        map.removeLayer(newmarkerInLoop);
                        document.getElementById("text").innerHTML= ``        
                        document.getElementById("timer").innerHTML= `&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Simulation Ended`
                        
                    }

                    
                }
                if(j==3){ // loop index reaches 3 another plane appears
                    $.ajax({
                        url: "{% url 'getSimulatorData' %}",
                        type: "GET",
                        success: function(data) {
                            data1=data
                            newL1=data1.Lat
                            newL2=data1.Long
                            newAngle=data1.angles
                            newTi=data1.threatIndex
                            newname=data1.name
                            newCW=data1.CarriedWeapon
                            newTS=data1.threatScore
                            newspeed= data1.speed
                        }
                    }
                    )
                    
                }
                console.log(i,"---",loopvalue);
                console.log(k,"---",loopvalue);
                
                j+=1
                
            }, 7000*i);

        }
    }
});
     


var overLayers= {
    Islamabad:marker,
    "Sargodha Base": markerSargodha,
}
L.control.layers(baseLayers,overLayers).addTo(map);

//map.removeLayer(myMovingMarker1);

  
</script>


</html>